In [112]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
#import data
df=pd.read_csv('/content/IMDB_Movies_Dataset.csv',index_col=False)

In [53]:
#check null values
df['Budget'].isnull().sum()

2338

In [54]:
df.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",NaN,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin","$6,000,000 (estimated)","$250,342,198",2 hours 55 minutes
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,NaN,NaN,1 hour 25 minutes
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,NaN,NaN,2 hours 15 minutes

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB
None

5398

In [56]:
len(df)

4989

In [88]:
#create copies of data
df1=df.copy()
df2=df1.copy()

In [89]:
df1.head(2)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide_Gross,Runtime,Year
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.000000,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,2.500000e+07,"$29,332,133",2 hours 22 minutes,1994
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",74.684452,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,2.763675e+07,"$3,513,659",2 hours 25 minutes,2024

In [60]:
# Metascore score fill with avg score
df1['Metascore'].fillna(df1['Metascore'].mean(),inplace=True)
df1.head(1)

<ipython-input-60-2353b10f7378>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Metascore'].fillna(df1['Metascore'].mean(),inplace=True)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes

In [63]:
# check null value in Release date
df1['Release Date'].isnull().sum()

0

In [61]:
# 'Release Date' changing datatype and extract year from release date
df1['Year'] = df1['Release Date'].astype(str).str.extract(r'(\d{4})')

In [62]:
df1.head(2)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide Gross,Runtime,Year
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.000000,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,"$25,000,000 (estimated)","$29,332,133",2 hours 22 minutes,1994
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",74.684452,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,NaN,"$3,513,659",2 hours 25 minutes,2024

In [71]:
# Change datatype of budget
def clean_budget(budget):
  """
  Cleans the 'Budget' column by removing special characters
  and converting it to a float.
  """
  if isinstance(budget, str):  # Check if the value is a string
    budget = budget.replace('$', '').replace(',', '').split(' ')[0]  # Remove special characters
    try:
      return float(budget)  # Try converting to float
    except ValueError:
      return np.nan  # Handle cases with invalid budget format
  else:
    return budget  # Return original value if not a string

# Apply the clean_budget function to the 'Budget' column in df1
df1['Budget'] = df1['Budget'].apply(clean_budget)

# NaN is filling with avg of budget
df1['Budget'].fillna(df1['Budget'].mean(), inplace=True)

<ipython-input-71-6904c2435c7f>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Budget'].fillna(df1['Budget'].mean(), inplace=True)

In [72]:
# NaN is filling with avg of budget
df1['Budget'].fillna(df1['Budget'].mean(), inplace=True)

<ipython-input-72-8764244eaa0d>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Budget'].fillna(df1['Budget'].mean(), inplace=True)

In [77]:
# Rename the column
df1 = df1.rename(columns={'Worldwide Gross': 'Worldwide_Gross'})

In [87]:
df1['Worldwide_Gross'].isnull().sum()

1094

In [28]:
# Check duplicates rows in table
df1.duplicated().any().sum()

0

In [90]:
df2.head(2)

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide_Gross,Runtime,Year
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.000000,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,2.500000e+07,"$29,332,133",2 hours 22 minutes,1994
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",74.684452,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,2.763675e+07,"$3,513,659",2 hours 25 minutes,2024

In [92]:
df2.dropna()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide_Gross,Runtime,Year
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.000000,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,2.500000e+07,"$29,332,133",2 hours 22 minutes,1994
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",74.684452,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,2.763675e+07,"$3,513,659",2 hours 25 minutes,2024
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.000000,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin",6.000000e+06,"$250,342,198",2 hours 55 minutes,1978
7,7,The Dark Knight,9.0,Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Goyer",84.000000,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","July 18, 2008 (India)","United States, United Kingdom","English, Mandarin",1.850000e+08,"$1,009,053,678",2 hours 32 minutes,2008
8,8,Schindler's List,9.0,Steven Spielberg,"Thomas Keneally, Steven Zaillian",95.000000,"Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...","December 15, 1993 (India)",United States,"English, Hebrew, German, Polish, Latin",2.200000e+07,"$322,161,245",3 hours 15 minutes,1993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4983,494,Love Likes Coincidences,7.2,Ömer Faruk Sorak,Nuran Evren Sit,74.684452,"Mehmet Günsür, Belçim Bilgin, Altan Erkekli, A...","February 4, 2011 (Turkey)",Turkey,"Turkish, French",2.763675e+07,"$13,585,314",1 hour 58 minutes,2011
4984,495,La comunidad,7.2,Álex de la Iglesia,"Jorge Guerricaechevarría, Álex de la Iglesia",74.684452,"Carmen Maura, Eduardo Antuña, María Asquerino,...","September 29, 2000 (Spain)",Spain,Spanish,2.763675e+07,"$290,754",1 hour 50 minutes,2000
4986,497,Kurôzu zero II,7.2,Takashi Miike,"Hiroshi Takahashi, Shôgo Mutô",74.684452,"Shun Oguri, Kyôsuke Yabe, Meisa Kuroki, Kenta ...","April 11, 2009 (Japan)",Japan,Japanese,2.763675e+07,"$29,893,636",2 hours 13 minutes,2009
4987,498,La cage dorée,7.2,Ruben Alves,"Ruben Alves, Luc-Olivier Veuve, Jean-André Yerlès",74.684452,"Rita Blanco, Joaquim de Almeida, Roland Giraud...","April 24, 2013 (France)",France,"French, Portuguese, English",2.763675e+07,"$17,871,370",1 hour 30 minutes,2013
4988,499,Chingoo,7.2,Kwak Kyung-taek,Kwak Kyung-taek,74.684452,"Yu Oh-seong, Jang Dong-gun, Seo Tae-hwa, Un-ta...","March 31, 2001 (South Korea)",South Korea,Korean,2.763675e+07,"$550,031",1 hour 53 minutes,2001

**  Drop null value from data which is not more effects the data **

In [97]:
df2.dropna(subset=['Writer'],inplace=True)

In [98]:
df2.dropna(subset=['Cast'],inplace=True)

In [99]:
df2.dropna(subset=['Country of Origin'],inplace=True)

In [103]:
df2.dropna(subset=['Languages'],inplace=True)
df2.dropna(subset=['Worldwide_Gross'],inplace=True)

3881

In [106]:
df2.isnull().sum()

Unnamed: 0           0
Title                0
Average Rating       0
Director             0
Writer               0
Metascore            0
Cast                 0
Release Date         0
Country of Origin    0
Languages            0
Budget               0
Worldwide_Gross      0
Runtime              0
Year                 0
dtype: int64

In [105]:
df2.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,Budget,Worldwide_Gross,Runtime,Year
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.000000,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,2.500000e+07,"$29,332,133",2 hours 22 minutes,1994
1,1,Attack on Titan the Movie: The Last Attack,9.3,Yûichirô Hayashi,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue",74.684452,"Natsuki Hanae, Yoshimasa Hosoya, Marina Inoue,...","November 8, 2024 (Japan)",Japan,Japanese,2.763675e+07,"$3,513,659",2 hours 25 minutes,2024
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.000000,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin",6.000000e+06,"$250,342,198",2 hours 55 minutes,1978
7,7,The Dark Knight,9.0,Christopher Nolan,"Jonathan Nolan, Christopher Nolan, David S. Goyer",84.000000,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","July 18, 2008 (India)","United States, United Kingdom","English, Mandarin",1.850000e+08,"$1,009,053,678",2 hours 32 minutes,2008
8,8,Schindler's List,9.0,Steven Spielberg,"Thomas Keneally, Steven Zaillian",95.000000,"Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...","December 15, 1993 (India)",United States,"English, Hebrew, German, Polish, Latin",2.200000e+07,"$322,161,245",3 hours 15 minutes,1993

In [110]:
# Save the cleaned DataFrame to a CSV file
df2.to_csv('cleaned_data.csv', index=False)

In [111]:
# Download the file to our local system
from google.colab import files
files.download('cleaned_data.csv')